@model List<Stationary.Models.Cart>

<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="cartItem-@item.ProductId">
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>$@(item.Product.Price* item.Quantity)</td>
            <td>
                <button class="remove-cart-btn" data-id="@item.ProductId">Remove</button>
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function(){
        $('.remove-cart-btn').click(function(){
            var productId = $(this).data('id');
            $.post('@Url.Action("RemoveFromCart", "User")', { id: productId }, function(response){
                if(response.success){
                    $('#cartItem-' + productId).remove();
                }
            });
        });
    });
</script>
